body  {
  background-color: #000;
  color: #3aa;
  font-size: 16pt;
  font-family: serif;
}

.hd  {
  text-align: center;
}

.mb {
  border-bottom: 5px solid #aaa;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-left:1px solid;
  border-right:1px solid;
  border-color: #aaa;
}

.main-contents {
  width: 70%;
  padding: 10px;
}

.left-menu {
  border: 1px solid #aaa;
  width: 20%;
  padding:3px;
  margin: 10px;
}

.indx {
  border: 1px solid #aaa;
  font-weight: bold;
  text-align: center;
  color: #fff;
  font-size: 20px;
  padding: 0px;
  font-family: sans-serif;
}
