body  {
  background-color: #000;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.main-contents {
  width: 70%;
  padding: 10px;
}

.left-menu {
  border: 5px double #aaa;
  width: 20%;
  padding: 10px;
  background-color: #000;
}
