.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.main-contents {
  width: 70%;
  padding: 10px;
  background-color: #ccc;
}

.left-menu {
  width: 20%;
  padding: 10px;
  background-color: #faa;
}
